/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}
.entry-content {
	.about-image-wrap {
		width:600px;
		height:600px;
		margin-left:-100px;
		shape-outside: ellipse(300px 300px at 40% 39%);
		margin-right:20px;
	}
	.about-image {
		width:600px;
	}
}