/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.design {
	@include omega-reset(3n);
	@include span-columns(3);
	@include omega(4n);

	&:last-child {
		display:block;
	}
}

/*********************
SLIDER STYLES
*********************/

.left-arrow {
	left: -4em;
}
.right-arrow {
	right: -4em;
}